* {
    min-width: 320;
}

#container {
    min-width: 320px;
    
}

h1 {
    /* height: 100px; */
    background: content-box radial-gradient(blue, green)
}

#Artist {
    width: 150px;
}

li {
    display: inline-block;
    min-width: 320px;
    line-height: .0rem;
}

p {
    padding-top: 15px;
    max-width: 320px;
    line-height: 1rem;
}


img {
    padding-top: 10px;
}